/* .myToast {
  background-color: linear-gradient(135deg,#5656b9,#784ba0,#120924) !important;
  color: #0fbea9 !important;
}


:global(.Toastify__close-button) {
  color: #ffcc00 !important;
}

:global(.Toastify__progress-bar) {
  background-color:  aqua !important;
} */
