.overlay {
  position: fixed;
  inset: 0;
  background: #0f0e11; /* نفس لون body */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
}
.floating {
  position: absolute;
  top: 5rem;      
  left: 2.5rem;  
  width: 5rem;   
  height: 5rem;  
  background-color: rgba(0, 123, 255, 0.2); 
  border-radius: 9999px; 
  filter: blur(20px);    
  animation: float 4s ease-in-out infinite; 
}

/* الانيميشن */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.loader {
  box-sizing: border-box;
  position: relative;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}
.loader:after,
.loader:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  background: rgb(50, 158, 193);
  animation: spin 1s linear infinite;
  transform-origin: 0px 100%;
}
.loader:before {
  transform-origin: 0 50%;
  background: #012b3d;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
