.navbar {
  transition: all 0.3s ease;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border-bottom: 0.4px solid rgba(158, 155, 155, 0.717);
}

.scrolled {
  background: rgba(15, 23, 42, 0.6);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.logo {
  color: #4ad399;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}
.logo::first-letter {
  font-size: 25px;
}

/* Active link */
.activeLink {
  color:#030d08 !important;
  font-weight: bold;

  border-radius: 10px;
   background-size: 200%;
    background-image: linear-gradient(to right, #016e57  0%, #8DB6D9 51%, #6DD19C 100%);
  transition: all 0.3s;
  &:hover{
     background-position: -100% center;
  }
}
.activeLink:focus {
  box-shadow: none;
}
.btn {
  border: 1px solid #1c7650 !important;
  color: #4ad399;
  font-weight: bolder;
}
.btn:hover {
  background-color: #196947;
  color: #d4f4e7;
  font-weight: bolder;
}

.formInput {
  background-color: transparent;
  border: 1px solid #1c7650;
  color: #4ad399;
}
.formInput::placeholder {
  color: #a8b3c1;
}
.formInput:focus {
  background-color: transparent;
  border: 1px solid #02ad88;
  color: #a8b3c1;
  box-shadow: none;
}
.formInput:focus::placeholder {
  color: #a8b3c1;
  box-shadow: none;
}
