.body {
  /* background: #030d08; */
  background: linear-gradient(135deg, #0d1117, #0a191f, #0d1117);
  padding-block: 100px;
  min-height: 100vh;
}
.pop{
  background-color: #3179b8;
  width: fit-content;
  position: absolute;
  top: 15px;
  left: 10px;
  border-radius: 10px;
  padding-inline: 2px;
  box-shadow: #0d001e 0px 0px 15px 1px inset;
  color: #0d001e;
}
.star{
  color: #0d001e;
  font-size: 10px;
  
}
.card {
  background-color: #060607;
  border-radius: 10px;
  box-shadow: 1px 1px 8px #2a6199;
  color: #ffffffbe !important;
  transition: all 0.5s;
  position: relative;
  &:hover {
    transform: scale(1.04);
  }
  img {
    border-radius: 10px;
  }
}
.par{
  font-size: xx-large;
  color: #c9e7ec;
  text-shadow: 2px 2px 10px #0d001e ;
  font-weight: bold;
  font-family: "Tagesschrift", sans-serif !important;
}
.tite{
  font-family: "Tagesschrift", sans-serif !important;
}
.icon {
  background-color: rgb(0, 0, 0, 0.5);
  position: absolute;
  top: 15px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 6px #3179b8;

  i {
    color: #3179b8;
    font-size: larger;
    cursor: pointer;
  }
}
.not {
  color: #cdf3e3;
  font-size: x-larg;
}

