.body {
  background: #030d08;
  padding-block: 100px;
  min-height: 100vh;
}
.pop{
  background-color: #46B47F;
  width: fit-content;
  position: absolute;
  top: 15px;
  left: 10px;
  border-radius: 10px;
  padding-inline: 1px;
  box-shadow: #060607 0px 0px 15px 1px inset;
  color: #030d08;
}
.star{
  color: #030d08;
  font-size: 10px;
  
}
.card {
  background-color: #060607;
  border-radius: 10px;
  box-shadow: 1px 1px 8px #8db6d9;
  color: #ffffffbe;
  transition: all 0.5s;
  position: relative;
  &:hover {
    transform: scale(1.04);
  }
  img {
    border-radius: 10px;
  }
}
.par{
  font-size: xx-large;
  color: #46B47F;
  font-weight: bold;
}
.icon {
  background-color: rgb(0, 0, 0, 0.5);
  position: absolute;
  top: 15px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 6px #5db6cf;

  i {
    color: #78deb3;
    font-size: larger;
    cursor: pointer;
  }
}
.not {
  color: #cdf3e3;
  font-size: x-larg;
}

.pagination :global(.MuiPaginationItem-root) {
  color: #daf6ea;
}
.pagination :global(.MuiPaginationItem-root:hover){
  background-color: #165c3e;
}
.pagination :global(.Mui-selected){
background-color: #78deb3 !important;
color: #030d08 !important;
box-shadow: 1px 1px 7px #78deb3 !important;
}