.body {
  /* background: #030d08; */
  background: linear-gradient(135deg, #0d1117, #0a191f, #0d1117);
  /* padding-block: 100px; */
  padding:2%;
  padding-top:6%;
  min-height: 100vh;
}
.pop{
  background-color: #3179b885;
  width: fit-content;
  position: absolute;
  top: 15px;
  left: 10px;
  border-radius: 60px;
  box-shadow: #0d001e 0px 0px 15px 1px inset;
  color: #dedfee;
  padding: 5px;
}
.star{
  color: #e4c306cc;
  font-size: 20px;
  
}
.card {
  background-color: #060607;
  border-radius: 10px;
  box-shadow: 1px 1px 8px #2a6199;
  color: #ffffffbe !important;
  transition: all 0.5s;
  position: relative;
  &:hover {
    transform: scale(1.04);
  }
  img {
    border-radius: 10px;
  }
}
.par{
  margin:0px 0 30px 27px;
  font-size: xx-large;
  color: #cfe9ff;
  text-shadow: 0 0 12px rgba(66, 165, 245, 0.6);
  font-weight: bold;
  font-family: "Tagesschrift", sans-serif !important;
}
.tite{
  font-family: "Tagesschrift", sans-serif !important;
}
.icon {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 15px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 6px #3179b8;

  i {
    color: #3179b8;
    font-size: larger;
    cursor: pointer;
  }
}
.not {
  color: #cdf3e3;
  font-size: x-larg;
}

