.emptyWishlistContainer {
  padding-top: 70px;
}

.emptyWishlistHeader {
  background-color: #FFE353;
  height: 55px;
}

.emptyWishlistContent {
  min-height: 80vh;
}

.emptyWishlistButton {
  background-color: #FFE353;
}
